.nested-fields
  .panel.panel-default{:style => "width: 100%"}
    .panel-body
      = f.inputs do
        .pull-right{:style => "font-weight: normal"}= link_to_remove_association "Remove this performance indicator", f

        = f.input :description, label: "Performance indicator", :input_html => { :rows => 2, :class => 'indicator'}
        = f.input :data_source, hint: "Your data source might be a survey or an observation or a clinical record."
        %span{:style => "font-size: 14px; font-weight: bold;"} Collection dates
        .help-block Input the date when you will collect data from this source. If you will collect data on more than one occasion (for example, pre- and post surveys), add another date. If you are collecting data on an ongoing basis, enter "ongoing".
        #dates
          = f.semantic_fields_for :collection_dates do |date|
            = render 'collection_date_fields', f: date
          .links
            %p= link_to_add_association "Add date", f, :collection_dates, :id => "add-date"
