.nested-fields
  = f.inputs do
    = f.input :description, :input_html => { :rows => 3 }
    = f.input :definition, :input_html => { :rows => 3 }
    %p{:style=>"border:1px; border-style:solid; padding: 1em;"}
      Now add labels for two categories in a pie graph. The first label should be the number of things that meet a certain criterium (e.g., "working filters"). The second label should be the number of things that do not meet the critirium (e.g., "malfunctioning filters"). The actual number of filters in each category will be entered later.
    = f.input :numerator_label, label: "label (e.g., # of working filters)"
    = f.input :denominator_label, :label => "label (e.g., #of malfunctioning filters)"
    %p= link_to_remove_association "<button, class='btn btn-default'>Remove performance indicator</button>".html_safe, f
    %hr