.container
  %h3 Evaluative Question:
  %h4= @evaluative_question.description
  = semantic_form_for @evaluative_question do |f|
    = f.semantic_fields_for :sub_questions do |sub_question|
      = render 'edit_sub_question_fields', f: sub_question
    = f.actions
