.container
  %h3 Performance indicators
  %h4= "Evaluative question: #{ @evaluative_question.description }"
  = semantic_form_for @evaluative_question do |f|
    = f.semantic_fields_for :sub_questions do |sub_question|
      = render 'edit_sub_question_fields', f: sub_question
    .pull-right= f.action :submit, label: 'Finish', :button_html => { :class => 'btn btn-success' }

