.container
  %h3 Evaluative question
  %dl.dl-horizontal
    %dt Category
    %dd= @evaluative_question.category.capitalize
    %dt Description
    %dd= @evaluative_question.description
    - @evaluative_question.performance_indicators.each do |performance_indicator|
      %dt Perfomance indicator description
      %dd= performance_indicator.description
  %p= link_to "Edit current question", edit_evaluative_question_path(@evaluative_question), class: "btn btn-warning"
  %p= link_to 'Add another evaluative question', new_evaluative_question_path( framework_id: @evaluative_question.framework), class: "btn btn-success"
  = link_to 'View framework', framework_path(@evaluative_question.framework), class: "btn btn-default"