= semantic_form_for [@organization, @program] do |f|
  = f.input :name, :label => 'Program name'
  = f.input :problem_description, label: "Problem", hint: "Describe the problem you are addressing.", :input_html => { :rows => 3 }
  = f.input :solution_description, label: "Solution", hint: "Describe the solution you are implementing.", :input_html => { :rows => 3 }
  = f.semantic_fields_for :budgets do |budget|
    = budget.inputs do
      = budget.input :name, :as => :hidden, :input_html => { :value => "Actual" }
      = budget.input :total, :label => 'Budget', :hint => 'Enter a whole number representing the estimated budget for the program.'
  = f.input :start_date, :input_html => {"data-provide" => "datepicker", "data-date-autoclose" => true}
  = f.input :end_date, :input_html => {"data-provide" => "datepicker", "data-date-autoclose" => true}
  .pull-right= f.action :submit, label: 'Save and continue', :button_html => { :class => 'btn btn-success' }