.container
  .dropdown
    .row{:style => "margin-bottom: 10px"}
      .col-sm-2
        %h3= @program.name
      - if can? :create, @program
        .col-sm-offset-8.col-sm-2
          %button#dropdownMenu1.btn.btn-success.dropdown-toggle.btn-md{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Actions
            %span.caret
          %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
            %li
              %a{:href => edit_program_path(@program)} Edit program

  .panel.panel-default{:style => "width: 100%"}
    .panel-heading
      %h4 Description
    .panel-body
      %h4 The problem
      = @program.problem_description

      %h4{style: "margin-top: 20px"} The solution
      = @program.solution_description

  - if @timeline_array.any?
    %h4 Timeline of activities
    = timeline @timeline_array

  - if @budget_array
    %h4 Actual budget vs average budget (cumulative)
    = line_chart @budget_array
