.container
  %div
    / Nav tabs
    %ul.nav.nav-pills{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "details", "data-toggle" => "tab", :href => "#details", :role => "tab"} Program Overview
      %li{:role => "presentation"}
        %a{"aria-controls" => "results", "data-toggle" => "tab", "data-target" => "#results", :role => "tab"} Program results
      %li{:role => "presentation"}
        %a{"aria-controls" => "logic-model", "data-toggle" => "tab", "data-target" => "#logic-model", :role => "tab"} Logic Model
      %li{:role => "presentation"}
        %a{"aria-controls" => "framework", "data-toggle" => "tab", "data-target" => "#framework", :role => "tab"} Evaluative Framework
      %li{:role => "presentation"}
        %a{"aria-controls" => "templates", "data-toggle" => "tab", "data-target" => "#templates", :role => "tab"} Survey Templates

    / Tab panes
    .tab-content
      #details.tab-pane{:role => "tabpanel", :class => @tab == "details" ? "active" : ""}
        = render partial: 'program_detail'
      #results.tab-pane{:role => "tabpanel"}
        = render partial: 'results'
      #logic-model.tab-pane{:role => "tabpanel"}
        = render partial: 'logic_model'
      #framework.tab-pane{:role => "tabpanel", :class => @tab == "framework" ? "active" : ""}
        = render partial: 'framework'
      #templates.tab-pane{:role => "tabpanel"}
        = render partial: 'templates'


