.container
  %h4= "Logic model for #{ @logic_model.program.name }"
  .table-responsive
    %table.table.table-bordered
      %thead
        %tr
          %th Inputs
          %th Activities
          %th Outputs
          %th Outcomes
          %th Impacts
      %tbody
        %tr
          %td
            %ul
              - if @logic_model.logic_model_inputs.any?
                - @logic_model.logic_model_inputs.each do |input|
                  %li= input.description
              - else
                %li TBD
          %td
            %ul
              - if @logic_model.activities.any?
                - @logic_model.activities.each do |activity|
                  %li= activity.description
              - else
                %li TBD
          %td
            %ul
              - if @logic_model.outputs.any?
                - @logic_model.outputs.each do |output|
                  %li= output.description
              - else
                %li TBD
          %td
            %ul
              - if @logic_model.outcomes.any?
                - @logic_model.outcomes.each do |outcome|
                  %li= outcome.description
              - else
                %li TBD
          %td
            %ul
              - if @logic_model.impacts.any?
                - @logic_model.impacts.each do |impact|
                  %li= impact.description
              - else
                %li TBD
  - if @logic_model.program.framework.evaluative_questions.blank?
    = link_to "Create evaluative framework", new_framework_evaluative_question_path(@logic_model.program.framework), :class => "btn btn-default"

