.nested-fields
  = f.inputs do
    - if question.multiple_answers && question.question_type == 'Multiple choice'
      = f.input :input_value, label: false, :as => :check_boxes, :collection => question.options.pluck(:description)
    - else
      - if ['Yes / No', 'True / False', 'Multiple choice'].include? question.question_type
        = f.input :input_value, label: false, :as => :radio, :collection => question.options.pluck(:description)
      - elsif question.question_type == 'An amount or quantity'
        = f.input :input_value, label: false
      - else
        = f.input :input_value, label: false, as: :text