- @evaluative_questions.each do |question|
  %h4= "Evaluative question - #{ question.category.capitalize }"
  .table-responsive
    %table.table.table-bordered
      %thead
        %tr
          %th Description
          %th Sub-questions
          %th Monitoring info
          %th Performance indicators
          %th Definition
          %th Numerator
          %th Denominator
        %tbody
          %tr
            %td
              = question.description
            %td
            %td
            %td
            %td
            %td
            %td
            - question.sub_questions.each do |sub_question|
              %tr
                %td
                %td= sub_question.description
                %td= sub_question.monitoring_information
                %td
                %td
                %td
                %td
              - sub_question.performance_indicators.each do |performance_indicator|
                %tr
                  %td
                  %td
                  %td
                  %td= performance_indicator.description
                  %td= performance_indicator.definition
                  %td= performance_indicator.numerator_label
                  %td= performance_indicator.denominator_label