.container
  %h3 Frameworks
  - if @frameworks.any?
    - @frameworks.each do |framework|
      %p
        = framework.name
        = link_to "View", framework_path(framework), :class => "btn btn-default btn-xs"
        = link_to "Edit name", edit_framework_path(framework), :class => "btn btn-default btn-xs"
        - if framework.evaluative_questions.find_by(category: "effectiveness").performance_indicators.any?
          = link_to "Create a survey template", new_framework_survey_template_path(framework), :class => "btn btn-default btn-xs"

  - else
    %p No frameworks have been created.
  %hr
  %p= link_to "Create new framework", new_framework_path, :class => "btn btn-default"
