.container
  %h3= "Dashboard for #{@organization.name}"
  - if @organization.programs.any?
    .panel.panel-default{:style => "width: 100%"}
      .panel-heading
        %h3.panel-title Programs
      .panel-body
        .row
          .col-sm-12
            - @organization.programs.each do |program|
              .row
                .col-sm-4
                  %h4= link_to program.name, overview_program_path(program)

                .col-sm-offset-4.col-sm-2
                  .dropdown
                    %button#dropdownMenu1.btn.btn-success.btn-sm.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                      Actions
                      %span.caret
                    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
                      - if program.logic_model.blank?
                        %li
                          %a{:href => new_program_logic_model_path(program)} Create logic model
                      - else
                        %li
                          %a{:href => logic_model_path(program.logic_model)} Edit logic model
                      - if program.framework.evaluative_questions.blank? && program.logic_model.present?
                        %li
                          %a{:href => new_framework_evaluative_question_path(program.framework)} Create Framework
                      - if program.framework.evaluative_questions.any? && program.logic_model.present?
                        %li
                          %a{:href => framework_path(program.framework)} Edit framework
                        %li
                          %a{:href => new_framework_survey_template_path(program.framework)} Create a survey template
                        %li
                          = link_to 'View survey templates', survey_templates_path('framework_id' => program.framework.id)

  %div{:style => "margin-top: 30px"}= link_to "New program", new_organization_program_path(@organization), :class => "btn btn-default"

