.nested-fields
  = f.inputs do
    %h3 Add a question
    = f.input :foo, label: "Is this question associated with a performance indicator?", :as => :select, :collection => ['Yes', 'No'], :input_html => { :id => "foo" }
    #performance-indicators
      = f.input :performance_indicator, :as => :select, :collection => PerformanceIndicator.all
    = f.input :question_type, :as => :select, :collection => ['Yes / No', 'True / False', 'Multiple choice', 'An amount or quantity', 'Open-ended response'], :input_html => { :id => "question-type" }
    .well
      = f.input :description, :label => 'Question', hint: 'Create a question to capture survey or observational data. (For example: "Are you using the filter?" or "Is there water in the filter?")', :input_html => { :rows => 3 }
      #add-option
        = f.semantic_fields_for :options do |option|
          = render 'option_fields', f: option
        .links
          %p= link_to_add_association "<button, class='btn btn-success btn-xs'>Add another answer</button>".html_safe, f, :options
    %p= link_to_remove_association "<button, class='btn btn-default'>Remove this question</button>".html_safe, f