= semantic_form_for [@survey_template, @data_question] do |f|
  = f.inputs do
    %h3 Add a question
    = f.input :performance_indicator, :as => :select, :collection => option_groups_from_collection_for_select(@evaluative_questions, :performance_indicators, :description, :id, :description, @performance_indicator_id), :include_blank => "Not associated"
    = f.input :question_type, :as => :select, :collection => ['Yes / No', 'True / False', 'Multiple choice', 'An amount or quantity', 'Open-ended response'], :input_html => { :id => "question-type" }
    .well
      = f.input :description, :label => 'Question', hint: 'Create a question to capture survey or observational data. (For example: "Are you using the filter?" or "Is there water in the filter?")', :input_html => { :rows => 3, :id => 'new_question' }
      = f.semantic_fields_for :options do |option|
        = render 'option_fields', f: option
      .links
        %p= link_to_add_association "<button, id='add-question-button' class='btn btn-success btn-xs'>Add another option</button>".html_safe, f, :options

  .pull-right= f.action :submit, label: 'Update', status: 'complete', :button_html => { :class => 'btn btn-default' }, data: { confirm: 'Are you done?' }