!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Emf
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} EMF
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if Organization.count == 0
              %li
                %a{:href => new_organization_path} Set up
            - else
              %li
                %a{:href => organization_path(Organization.first)}
                  = Organization.first.name
            - if EvaluativeQuestion.count > 0
              - Framework.all.each do |framework|
                %li
                  %a{:href => dashboard_framework_path(framework)}
                    = framework.name

            - if Organization.count > 0
              %li
                %a{:href => frameworks_path} Program frameworks
            - if SurveyTemplate.any?
              %li
                %a{:href => survey_templates_path} New survey
            - if Survey.count > 0
              %li
                %a{:href => results_index_path} Results
    = yield
