!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Emf
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{:style => "margin-bottom: 10px"}
      .container-fluid{:style => "padding-left: 40px"}
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          - if Organization.count == 0
            %a.navbar-brand{:href => new_organization_path} Set up
          - else
            %a.navbar-brand{:href => organization_path(Organization.first)}
              = Organization.first.name.upcase
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if Program.count > 0
              - Program.all.each do |program|
                %li
                  %a{:href => overview_program_path(program)}
                    = program.name.titleize
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to current_user.email, edit_user_registration_path
              %li
                =link_to "Logout", destroy_user_session_path, method: :delete
            - else
              %li
                %a{:href => user_session_path} Login
    = render partial: "shared/flash_messages", flash: flash
    = yield
